body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
}

body::before {
    content: "";
    position: absolute;
    inset: 0; /* Expande para toda a área da div, incluindo bordas arredondadas */
    background: url("../images/backgroundLogin.png") no-repeat center center;
    background-size: cover;
    filter: blur(3px); /* Ajuste conforme desejado */
    z-index: -1; /* Coloca a camada atrás do conteúdo da div */
    border-radius: 5px; /* Mantém o mesmo raio para alinhar com a borda */
}

h1{
    text-align: center;
    padding: 20px;
    font-size: 25px;
}

label{
    margin: 5px 0 0 0;
}

input{
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.remember-me{
    display: flex;
    align-content: start;
    align-items: center;
    gap : 5px;
    margin: 0 0 5px;
}

#remember-me{
   width: 3%;
   margin-top: 5px;
}

label{
    font-size: 13px;
}

button{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    cursor: pointer;
}

button:hover{
    background: #12124e;
    color: white;
}

p {
    margin-top: 25px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #12124e;
}