body{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60%;
}

body::before {
    content: "";
    position: absolute;
    inset: 0; 
    background: url("../images/backgroundLogin.png") no-repeat center center;
    background-size: cover;
    filter: blur(3px); 
    z-index: -1; 
}








