/* 
TRABALHO: Criei uma folha de estilo inicial para facilitar o  trabalho, mas
sinta-se à vontade em alterá-lo completamente de forma a tornar a aplicação mais
"bonita"e lembrando sempre de testar o layout responsivo de sua soluçõa.
 */

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*Estilos Bases de tags */

h1{
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

h2{
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

input, select, button {
    width: 100%; 
    padding: 10px;
    border-radius: 5px; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
}

#registerForm div > input, #role, button {
    margin: 5px 0 5px 0; 
}

button:hover{
    background: #12124e;
    color: white;
    cursor: pointer;
}

p {
    margin-top: 25px;
    text-align: center;
}

a {
    text-decoration: underline;
    color: #12124e;

}

/*====   Registro e Login   ====*/
.container {
    width: 80%;
    padding: 20px;
    margin: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9; 
    box-shadow: 4px 4px 10px rgba(182, 176, 176, 0.2);
}

#login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#productControls {
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.remember-me{
    display: flex;
    align-content: start;
    align-items: center;
    gap : 2px;
}

#remember-me{
   width: 3%;
   cursor: pointer;
}

label{
    font-size: 13px;
    cursor: pointer;
}

/*====   Dashboard   ====*/
.user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9; 
}

#logoutBtn{
    width: 30%;
    
}

table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders are not double-spaced */
}

th, td {
    border: 1px solid #ddd; /* Creates a light gray border */
    padding: 8px; /* Adds some space inside the cells */
    text-align: left; /* Aligns text to the left */
}

/* Center-align only the images in the second column */
td:nth-child(2) {
    text-align: center;
}

label{
    font-size: 13px;
    cursor: pointer;
}

#productControls button{
    height: auto;
    width: 60%;
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
}

#productTable {
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#pagination{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 25px;
}

#pagination button{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #12124e;
    cursor: pointer;
    width: auto;
    height: 30px;
    color: white;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}



