/* 
TRABALHO: Criei uma folha de estilo inicial para facilitar o  trabalho, mas
sinta-se à vontade em alterá-lo completamente de forma a tornar a aplicação mais
"bonita"e lembrando sempre de testar o layout responsivo de sua soluçõa.
 */

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 50%;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9; 
    overflow: hidden; /* Garante que o desfoque não "vaze" nas bordas */
    z-index: 1; /* Coloca a camada na frente do desfoque */   
    box-sizing: border-box; /* Garante que padding e borda sejam inclusos nas dimensões */
    z-index: 1;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#productControls {
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}


table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders are not double-spaced */
}

th, td {
    border: 1px solid #ddd; /* Creates a light gray border */
    padding: 8px; /* Adds some space inside the cells */
    text-align: left; /* Aligns text to the left */
}

/* Center-align only the images in the second column */
td:nth-child(2) {
    text-align: center;
}


h1{
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

h2{
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

input, select, button {
    width: 100%; 
    padding: 10px;
    border-radius: 5px; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
}

.remember-me{
    display: flex;
    align-content: start;
    align-items: center;
    gap : 2px;
    margin: 0 0 5px;
}

#remember-me{
   width: 3%;
   cursor: pointer;
}

label{
    font-size: 13px;
    cursor: pointer;
}


button:hover{
    background: #12124e;
    color: white;
    cursor: pointer;
}

p {
    margin-top: 25px;
    text-align: center;
}

a {
    text-decoration: underline;
    color: #12124e;

}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}



